<!DOCTYPE html>
<html>
    <head>
        <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }
        
        #searchInput {
            border-box: box-sizing;
            font-size: 16px;
            padding: 14px 40px 12px 25px;
            border: none;
        }
        
        .dropdown {
            float: right;
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            right: 0;
            display: none;
            position: fixed;
            background-color: #f6f6f6;
            min-width: 230px;
            width: 260px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
            
        .dropdown a:hover {background-color: #ddd}
            
            .show {display:block;}
            
            .header {
            	background-color: #e2e2e2;
                cursor: default;
            }
        
            .navbar {
                position: fixed;
                top: 0;
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333333;
            }
            
            li {
                float: left;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            
            li a:hover:not(.active) {
                background-color: #8c8c8c;
            }
            
            .active {
                background-color: #2180de;
            }
            
            #indent {
                margin: 0px 0px 0px 30px;
            }
            
            #extraindent {
                margin: 0px 0px 0px 80px;
            }
        </style>
        <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function searchFunction() {
                document.getElementById("searchlist").classList.toggle("show");
            }
            
            function filterFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("searchInput");
                filter = input.value.toUpperCase();
                div = document.getElementById("searchlist");
                a = div.getElementsByTagName("a");
                for (i = 0; i < a.length; i++) {
                    if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }
        </script>
    </head>
    <body>
        <ul class="navbar">
          <li><a href="home">Home</a></li>
          <li><a href="more">More</a></li>
          <li style="float:right"><a href="news">News</a></li>
          <li style="float:right"><a href="contact">Contact</a></li>
          <li style="float:right"><a class="active" href="about">About</a></li>
          <li style="float:right"><a onclick="searchFunction()" href="#search">Search</a></li>
        </ul>
        <br>
        <br>
        <div class="dropdown">
            <div id="searchlist" class="dropdown-content">
                <input type="text" placeholder="Search.." id="searchInput" onkeyup="filterFunction()">
                <a href="about">About</a>
                <a href="contact">Contact</a>
                <a href="home">Home</a>
                <a href="news">News</a>
                <a href="more" class="header">More</a>
                <a href="games">Games</a>
                <a href="tutorials">Tutorials</a>
            </div>
        </div>
        <div style="background-color:#404040;color:white;padding:20px;">
            <img alt="HMI Studios logo" id="indent" src='https://hmigames.files.wordpress.com/2016/04/hmi.png?w=100'>
            <br>
            <h2 id="indent">HMI STUDIOS</h2>
            <p id="indent"><em>The Official HMI Website.</em></p>
            <br>
        </div>
        <p><a href="about">about></a></p>
    </body>
</html>