<!DOCTYPE html>
<html>
    <head>
        <style>
            .dropbtn {
                background-color: #4CAF50;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }
            
            .dropbtn:hover, .dropbtn:focus {
                background-color: #3e8e41;
            }
            
            #searchInput {
                border-box: box-sizing;
                font-size: 16px;
                padding: 14px 20px 12px 45px;
                border: none;
            }
            
            .show {display:block;}
            
            .header {
            	background-color: #e2e2e2;
                cursor: default;
            }
        
            .navbar {
                position: fixed;
                top: 0;
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333333;
            }
            
            li {
                float: left;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            
            li a:hover:not(.active) {
                background-color: #8c8c8c;
            }
            
            .active {
                background-color: #2180de;
            }
            
            #indent {
                margin: 0px 0px 0px 30px;
            }
            
            #extraindent {
                margin: 0px 0px 0px 80px;
            }
        </style>
    </head>
    <body>
        <ul class="navbar">
          <li><a class="active" href="home">Home</a></li>
          <li><a href="articles">Articles</a></li>
          <li style="float:right"><a href="articles">Browse</a></li>
          <li style="float:right"><a href="articles">Edit</a></li>
          <li style="float:right"><a href="articles/new">New</a></li>
        </ul>
        <br>
        <br>
        <div style="background-color:#404040;color:white;padding:20px;">
            <%= image_tag 'Alpha-Blog.png' %>
            <br>
            <h2 style="margin: 0px 0px 0px 15px;">Alpha-Blog</h2>
            <br>
        </div>
        <p><a href="home">home></a></p>
        <div id="indent">
            <h1>Hello There!</h1>
            <hr>
            <p id="extraindent">Welcome to Alpha-Blog! Create, Read, Update, and Delete Articles!</p>
            <br>
            <a id="extraindent" href="articles">Articles</a>
            <br>
            <br>
        </div>
    </body>
</html>