$navbar-default-bg: #6f96d6;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.button {
    @media only screen and (max-width:765px) {
         border-radius: 30px 30px 30px 30px;  
    }
    background-color: #4e89e8;
    
    color: #212938 !important;
}

.button:hover {
    transition: background 0.3s linear;
}

.button-right {
    border-radius: 0px 30px 30px 0px;
    @media only screen and (max-width:765px) {
         border-radius: 30px 30px 30px 30px;  
    }
    background-color: #4e89e8;
    
    color: #212938 !important;
}

.button-right:hover {
    transition: background 0.3s linear;
}

.button-left {
    border-radius: 30px 0px 0px 30px;
    @media only screen and (max-width:765px) {
         border-radius: 30px 30px 30px 30px;  
    }
    background-color: #4e89e8;
    
    color: #212938 !important;
}

.button-left:hover {
    transition: background 0.3s linear;
}

.link {
    color: #212938;
}

.center {
    text-align: center;
}

.jumbotron {
    background-color: #4393ef;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.footer a:hover {
    color: #222;
}

.footer small {
    float: left;
}

.footer ul {
    float: right;
    list-style: none;
}

.footer ul li {
    float: left;
    margin-left: 15px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 10px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.animated-input {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 10px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.animated-input:focus {
    width: 100%;
}

.text-box {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 10px 12px 20px;
}