<% flash.each do |name, msg| %>
  <div class="alert alert-success" role="alert">
    <p>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= msg %>
    </p>
  </div>
<% end %>